/** GENERAL STYLES **/
html {
    height: 100%; min-height: 100%;
}
body {
    background-color: #fff;
    color: #565656;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100%; min-height: 100%;
}

.hidden { display:none !important; }
.page-container {
    height: 100%; min-height: 100%;
}

.button {
    display: block;
    border: solid 1px #15826A;
    color: #15826A;
    border-radius: 18px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 0 40px 16px 40px;
    cursor: pointer;
}
.button.primary {
    color: #fff;
    background: linear-gradient(180deg, #15CC57 12.95%, #15CC57 22.2%, #15CC57 33%, #15826A 100%);
}
.button.radio.selected {
    background-color: rgba(21,204,87,0.3);
}

.small-text { font-size: 14px; line-height: 17px; }
.link {
    color: #0D8037;
    text-decoration: underline;
    cursor: pointer;
}
.link:hover {
    text-decoration: none;
}


/** SPECIFIC STUFF **/

.light {
    color: #aeaeae;
    font-size: 14px;
    line-height: 17px;
}
.full-screen {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%; min-height: 100%;
    text-align: center;
}

.splash-screen {
    justify-content: center;
    align-items: center;
}
.splash-screen .logo {
    width: 140px;
}



.login-screen { text-align: center; }
.login-screen .logo { text-align: center; display: inline-block; margin: 30px 0 21px 0; }
.login-screen .logo img { width: 60px; border: solid 1px #15CC57; border-radius: 50%; width: 102px; height: 102px; padding: 18px 18px; }
.login-screen .header { font-weight: bold; margin: 22px 0; }
.login-screen .sub-header { margin-bottom: 41px; }
.login-screen .bottom { position: absolute; bottom:0; width: 100%; padding-bottom: 25px; left:0; right:0; }


.match-with {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.match-with .text {
    flex-grow: 3;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    display: flex;
}
.match-with .match-options {
    flex-grow: 3;
}
.match-with .bottom {
    flex-grow: 0;
}
.match-with .bottom .button {
    margin-bottom: 80px;
}


.upload-image .text {
    margin-top: 144px;
    margin-bottom: 20px;
}
.upload-image .camera-area {
    margin-top: 64px;
    flex-grow: 4;
}
.upload-image .camera-icon {
    display: inline-block;
    width: 101px; height: 101px;
    border-radius: 50%;
    border: 1px solid #0D8037;
    background-image: url(../images/icons/camera.svg);
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
}
.upload-image .bottom {
    margin-bottom: 88px;
}



.who-did-dis .text {
    margin: 146px 20px 0;
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    flex-grow:10;
}
.who-did-dis .back {
    margin-bottom:60px;
}



@media only screen and (min-width: 768px) {
    .no-mobile-message {
        display: block !important;
        width: 600px;
        text-align: center;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .page-container {
        margin: 0 auto;
        height: auto; min-height: auto;
        width: 320px;
        background-image: url('../images/phone-border.png');
        background-repeat: no-repeat;
        background-position: -210px -44px;
    }
    .full-screen {
        margin: 0;
        min-height: 452px; height: 452px;
        padding: 92px 42px 80px 24px;
    }
    .splash-screen .logo {
        margin-top: 0;
        width: 100%;
    }
  }