/** GENERAL STYLES **/
html {
    height: 100%; min-height: 100%; width: 100%;
}
body {
    background-color: #fff;
    color: #565656;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100%; min-height: 100%; width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
a {
    text-decoration: none;
    cursor: pointer;
}

.hidden { display:none !important; }
.invisible { visibility: hidden !important; }
.page-container {
    height: 100%; min-height: 100%;
}

.button {
    display: inline-block;
    border: solid 1px #15826A;
    color: #15826A;
    border-radius: 18px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    min-width: 160px;
    padding: 0 40px;
}
.button.primary {
    color: #fff;
    background: linear-gradient(180deg, #15CC57 12.95%, #15CC57 22.2%, #15CC57 33%, #15826A 100%);
    border: none;
    font-weight: bold;
}
.button.radio.selected {
    background-color: rgba(21,204,87,0.3);
}
.button.disabled {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    color: #fff;
}

.header { font-size: 18px; }
.small-text { font-size: 14px; line-height: 17px; }
.link {
    color: #0D8037;
    text-decoration: underline;
    cursor: pointer;
}
.link:hover {
    text-decoration: none;
}


/** SPECIFIC STUFF **/

.light {
    color: #aeaeae;
    font-size: 14px;
    line-height: 17px;
}
.full-screen {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%; min-height: 100%;
    text-align: center;
    justify-content: space-around;
}

.splash-screen {
    justify-content: space-between;
    align-items: center;
}
.splash-screen .logo {
    position: absolute;
    top: 205px;
    height: 170px;
    /*margin-top: 40px;*/
    width: 30%;
    flex-grow: 10;
}

.splash-screen .top-heart {
    opacity: 1;
    display: block;
    height: 175px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' height='300' width='500'%3E%3ClinearGradient id='grad1' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' style='stop-color:%2315CC57;stop-opacity:1' /%3E%3Cstop offset='100%25' style='stop-color:%2315826A;stop-opacity:1' /%3E%3C/linearGradient%3E%3ClinearGradient id='grad2' x1='100%25' y1='100%25' x2='0%25' y2='0%25'%3E%3Cstop offset='0%25' style='stop-color:%2315CC57;stop-opacity:1' /%3E%3Cstop offset='100%25' style='stop-color:%2315826A;stop-opacity:1' /%3E%3C/linearGradient%3E%3ClinearGradient id='grad3' x1='0%25' y1='100%25' x2='100%25' y2='0%25'%3E%3Cstop offset='0%25' style='stop-color:%2315CC57;stop-opacity:1' /%3E%3Cstop offset='100%25' style='stop-color:%2315826A;stop-opacity:1' /%3E%3C/linearGradient%3E%3Cpolygon fill='url(%23grad2)' points='0,0 0,230 250,0' /%3E%3Cpolygon fill='url(%23grad3)' points='500,0 500,230 250,0' /%3E%3Cpolygon fill='url(%23grad1)' points='0,0 250,200 500,0' /%3E%3C/svg%3E");
}
.splash-screen .bottom-heart {
    opacity: 1;
    display: block;
    height: 230px;
    width: 100%;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='260' width='500'%3E%3ClinearGradient id='grad1' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' style='stop-color:%2315CC57;stop-opacity:1' /%3E%3Cstop offset='100%25' style='stop-color:%2315826A;stop-opacity:1' /%3E%3C/linearGradient%3E%3ClinearGradient id='grad2' x1='100%25' y1='100%25' x2='0%25' y2='0%25'%3E%3Cstop offset='0%25' style='stop-color:%2315CC57;stop-opacity:1' /%3E%3Cstop offset='100%25' style='stop-color:%2315826A;stop-opacity:1' /%3E%3C/linearGradient%3E%3Cpolygon fill='url(%23grad1)' points='0,0 260,260 0,260' /%3E%3Cpolygon fill='url(%23grad2)' points='240,260 500,0 500,260' /%3E%3C/svg%3E");
}

.who-did-dis .top-heart, .who-did-dis .bottom-heart { width: 100%; }
.who-did-dis .top-heart img, .who-did-dis .bottom-heart img {
    width: 100%; height: 100%;
}

.splash-screen .bottom-heart { position:absolute; bottom:0; }
.splash-screen .link.who-did-dis { margin-top: 24px; }



.splash-screen { text-align: center; }
.splash-screen .logo-wrapper { text-align: center; display: inline-block; margin-top: 40px; }
.splash-screen .logo-wrapper { border: solid 1px #15CC57; border-radius: 50%; width: 102px; height: 102px; padding: 18px 18px; }
.splash-screen .header { font-weight: bold; }
.splash-screen .sub-header {  }
.splash-screen .bottom { margin-bottom: 20px; }
.splash-screen .buttons-wrapper .button.how-does-it-work { margin-bottom: 20px; }

.splash-screen .fade-in {
    display: none;
    opacity: 0;
}


.match-with {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.match-with .text {
    flex-grow: 3;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    display: flex;
}
.match-with .match-options {
    flex-grow: 3;
}
.match-with .button.male {
    margin-bottom: 20px;
}
.match-with .bottom {
    flex-grow: 0;
}
.match-with .bottom .button {
    margin-bottom: 80px;
}


.upload-image .text {
    margin-top: 144px;
    margin-bottom: 20px;
}
.upload-image .camera-area {
    margin-top: 64px;
    flex-grow: 4;
}
.upload-image .camera-icon {
    display: inline-block;
    width: 101px; height: 101px;
    border-radius: 50%;
    border: 1px solid #0D8037;
    background-image: url(../images/icons/camera.svg);
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
}
.upload-image .bottom {
    margin-bottom: 88px;
}
.upload-image input[type="file"] {
    opacity: 0;
    width: 100%; height: 100%;
    cursor: pointer;
}



.who-did-dis.full-screen { justify-content: space-between; align-items: center; overflow: hidden; }
.who-did-dis .text {
    margin: 0 40px;
    text-align: left;
    font-size: 16px;
    line-height: 22px;
}
.who-did-dis .top-heart, .who-did-dis .bottom-heart { background-size: 100% 100%; }
.who-did-dis .top-heart { height: 114px; }
.who-did-dis .bottom-heart { height: 90px; }





/* STEPS */
.full-screen.steps .step {
    border: 1px solid #C6C6C6;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
}
.full-screen.steps .step.selected {
    background-color: #15CC57;
    border-color: #15CC57;
}
.full-screen.steps .swipe-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 3;
    padding: 0 60px;
}
.full-screen.steps .bottom {
    flex-grow: 1;
}
.how-this-works-3 .tree-image .user-two { margin-left: -30px; }





@media only screen and (min-width: 768px) {
    .no-mobile-message {
        display: block !important;
        width: 600px;
        text-align: center;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .page-container {
        margin: 0 auto;
        height: auto; min-height: auto;
        width: 320px;
        background-image: url('../images/phone-border.png');
        background-repeat: no-repeat;
        background-position: -210px -44px;
    }
    .full-screen {
        margin: 0;
        min-height: 452px; height: 452px;
        padding: 90px 41px 80px 23px;
    }
    .splash-screen .logo {
        margin-top: 0;
        width: 100%;
    }
    .login-screen div.logo {
        margin: 16px 0 0 0;
    }
    .login-screen .logo img {
        width: 60px; height: 60px;
    }
    .login-screen .header {
        margin: 10px 0;
    }
    .button {
        margin-right: 20px;
        margin-left: 20px;
    }

    .upload-image .text {
        margin-top: 44px;
    }
    .upload-image .sub-text {
        padding: 0 20px;
    }
    .upload-image .bottom {
        margin-bottom: 48px;
    }
  }





/*


	  <svg height="300" width="500">
      <linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%">
      <stop offset="0%" style="stop-color:#15CC57;stop-opacity:1" />
      <stop offset="100%" style="stop-color:#15826A;stop-opacity:1" />
    </linearGradient>

    <linearGradient id="grad2" x1="100%" y1="100%" x2="0%" y2="0%">
      <stop offset="0%" style="stop-color:#15CC57;stop-opacity:1" />
      <stop offset="100%" style="stop-color:#15826A;stop-opacity:1" />
    </linearGradient>
    <linearGradient id="grad3" x1="0%" y1="100%" x2="100%" y2="0%">
      <stop offset="0%" style="stop-color:#15CC57;stop-opacity:1" />
      <stop offset="100%" style="stop-color:#15826A;stop-opacity:1" />
    </linearGradient>

        <polygon fill="url(#grad2)" points="0,0 0,230 250,0" />
        <polygon fill="url(#grad3)" points="500,0 500,230 250,0" />
		    <polygon fill="url(#grad1)" points="0,0 250,200 500,0" />

	  </svg>

  	  <svg height="260" width="500">
      <linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%">
      <stop offset="0%" style="stop-color:#15CC57;stop-opacity:1" />
      <stop offset="100%" style="stop-color:#15826A;stop-opacity:1" />
    </linearGradient>

    <linearGradient id="grad2" x1="100%" y1="100%" x2="0%" y2="0%">
      <stop offset="0%" style="stop-color:#15CC57;stop-opacity:1" />
      <stop offset="100%" style="stop-color:#15826A;stop-opacity:1" />
    </linearGradient>

        <polygon fill="url(#grad1)" points="0,0 260,260 0,260" />
        <polygon fill="url(#grad2)" points="240,260 500,0 500,260" />

	  </svg>


 */