/** GENERAL STYLES **/
html {
    height: 100%; min-height: 100%; width: 100%;
    font-size: 14px;
}
body {
    background-color: #fff;
    color: #565656;
    line-height: 1.57rem;
    font-family: 'Lato', 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100%; min-height: 100%; width: 100%;
}
body * {
  font-family: 'Lato', 'Open Sans', sans-serif;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
a {
    text-decoration: none;
    cursor: pointer;
}

.hidden { display:none !important; }
.invisible { visibility: hidden !important; }
.page-container {
    height: 100%; min-height: 100%;
}

.button {
    display: block;
    border: solid 1px #0D8037;
    color: #0D8037;
    border-radius: 18px;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    cursor: pointer;
    max-width: 160px;
    margin:0 auto;
    padding: 0 40px;
}
.button.primary {
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#78CC15), to(#0D8037));
    background: -webkit-linear-gradient(top, #78CC15, #0D8037);
    background: -o-linear-gradient(top, #78CC15, #0D8037);
    background: linear-gradient(180deg, #78CC15, #0D8037);
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.button.radio.selected {
    background-color: rgba(120,204,21,0.3);
}
.button.disabled {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    color: #fff;
}

.header { font-size: 1.29rem; }
.small-text { font-size: 1rem; line-height: 1.21rem; }
.link {
    color: #0D8037;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
.link:hover {
    text-decoration: none;
}


/** SPECIFIC STUFF **/

.light {
    color: #aeaeae;
    font-size: 1rem;
    line-height: 1.21rem;
}
.full-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    height: 100%; min-height: 100%;
    text-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.splash-screen {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.splash-screen .treender {
    font-size: 2.64rem;
}
.splash-screen .logo {
    position: absolute;
    /*top: 230px;*/
    /*height: 170px;*/
    /*width: 30%;*/
    top: 50%;
    margin-top: -50px;
    width: 100px;
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
}


.who-did-dis .top-heart, .who-did-dis .bottom-heart { width: 100%; }
.who-did-dis .top-heart .logo-white {
    position: absolute;
    height: 38px;
    top: 6px;
    left: 50%;
    width: auto;
    margin-left: -13px;
    margin-top: 2px;
}
.who-did-dis .top-heart img, .who-did-dis .bottom-heart img {
    width: 100%; height: 100%;
}
.who-did-dis .back.link {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: bold;
}
.who-did-dis .small-text { margin-top: 28px; }
.who-did-dis .link { font-weight: bold; }

.splash-screen .bottom-heart { position:absolute; bottom:0; }
.splash-screen .link.who-did-dis { text-transform: uppercase; }
.empty-message .link.who-did-dis { margin-top: 20px; margin-bottom: 50px; text-transform: uppercase; }



.splash-screen { text-align: center; }
.splash-screen .welcome-logo { width: 100px; margin: 60px 0 20px 0; }
.splash-screen .welcome-screen {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.splash-screen .header { font-weight: bold; margin-bottom: 3px; }
.splash-screen .header.welcome { font-size: 1.57rem; margin-bottom: 10px; }
.splash-screen .treender { margin-bottom: 22px; }
.splash-screen .sub-header {  }
.splash-screen .bottom {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 220px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10px;
}
.splash-screen .bottom .link { font-weight: bold; text-decoration: none; text-transform: uppercase; }
.splash-screen .bottom .link.share-this-brilliance { margin-right: 30px; }

.splash-screen .buttons-wrapper {
    width: 100%;
}
.splash-screen .buttons-wrapper .button.how-does-it-work { margin-bottom: 10px; }

.splash-screen .fade-in {
    display: none;
    opacity: 0;
    -webkit-transition: opacity 400ms;
    -o-transition: opacity 400ms;
    transition: opacity 400ms;
}


.match-with {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.match-with .text {
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.match-with .match-options {
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
}
.match-with .button.male {
    margin-bottom: 20px;
}
.match-with .bottom {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}
.match-with .bottom .button {
    margin-bottom: 80px;
}


.upload-image .text {
    margin-top: 144px;
    margin-bottom: 20px;
}
.upload-image .camera-area {
    margin-top: 64px;
    -webkit-box-flex: 4;
    -ms-flex-positive: 4;
    flex-grow: 4;
}
.upload-image .camera-icon {
    display: inline-block;
    width: 101px; height: 101px;
    border-radius: 50%;
    border: 1px solid #0D8037;
    background-image: url(../images/icons/camera.svg);
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
}
.upload-image .bottom {
    margin-bottom: 88px;
}
.upload-image input[type="file"] {
    opacity: 0;
    width: 100%; height: 100%;
    cursor: pointer;
}



.who-did-dis.full-screen { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; overflow: hidden; }
.who-did-dis .text {
    margin: 0 20px;
    text-align: left;
    font-size: 1.14rem;
    line-height: 1.57rem;
    overflow-y: scroll;
}
.who-did-dis p {
    margin-bottom: 14px;
}
.who-did-dis .strong { font-weight: bold; }
.who-did-dis .top-heart, .who-did-dis .bottom-heart { background-size: 100% 100%; }
.who-did-dis .top-heart { height: 80px; }
.who-did-dis .bottom-heart { height: 60px; }





/* STEPS */
.full-screen.steps .dot { opacity: 1 !important; background-color: #d9d9d9; }
.full-screen.steps .dot.is-selected { background-color: #0D8037; }
.full-screen.steps .swipe-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    padding: 0 60px;
    width: calc(100% - 120px);
}
.full-screen.steps .swipe-container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-height: 400px;
}
.full-screen.steps .swipe-container .header {
    margin: 50px 0;
}
.full-screen.steps .spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.full-screen.steps .bottom {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    margin-bottom: 80px;
}
.full-screen.steps .match-message {
    font-family: 'Yellowtail', 'Open Sans', cursive;
    font-size: 3.57rem;
    color: #0D8037;
    margin: 30px 0;
}
.full-screen.steps .step-1 .tree-image, .full-screen.steps .step-2 .tree-image, .full-screen.steps .step-3 .tree-image { position: relative; margin: 0 40px; }
.full-screen.steps .step-4 .tree-image img { width: 100%; }
.full-screen.steps .step-1 .tree-image img { width: 100%; position:absolute; left: 0; }
.full-screen.steps .step-2 .tree-image img { width: 100%; position:absolute; left: 0; }
.full-screen.steps .step-2 .info { width: 22px; vertical-align: middle; margin: 0 4px; }
.full-screen.steps .step-3 .tree-image img { width: 100%; position:absolute; left: 0; }
.full-screen.steps .step-3 .like { width: 100px !important; left: 34px !important; opacity: 0; -webkit-transition: opacity 400ms; -o-transition: opacity 400ms; transition: opacity 400ms; }
.full-screen.steps .step-3 .like.swiped { opacity: 1; }

.full-screen.steps .step-3 .tree-image .tree-heart {
    -webkit-transition: left 200ms, top 800ms, -webkit-transform 200ms;
    transition: left 200ms, top 800ms, -webkit-transform 200ms;
    -o-transition: transform 200ms, left 200ms, top 800ms;
    transition: transform 200ms, left 200ms, top 800ms;
    transition: transform 200ms, left 200ms, top 800ms, -webkit-transform 200ms;
}
.full-screen.steps .step-3 .tree-image .tree-heart.swiped {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    left: 16px;
    /*top: -16px;*/
}


.scale-out-center {
    -webkit-animation: scale-out-center 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: scale-out-center 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
}
@keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
}




@media only screen and (min-width: 768px) {
    .full-screen {
        box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.33);
        border-radius: 60px;
    }
    .no-mobile-message {
        display: inline-block !important;
        position: absolute;
        width: 200px;
        left: 50%;
        margin-left: -495px;
        text-align: center;
    }
    .no-mobile-message .logo {
        width: 36px;
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 24px;
    }
    .no-mobile-message .app-title {
        font-size: 40px;
        color: #565656;
        font-weight: bold;
        margin-top: 20px;
    }
    .no-mobile-message .text {
        margin-top: 50px;
        text-align: left;
        line-height: 23px;
        font-size: 18px;
    }
    .no-mobile-message .text p {
        margin-bottom: 20px;
    }
    .no-mobile-message .button.share {
        margin-top: 50px;
        padding: 0 !important;
        float: left;
        width: 120px !important;
    }
    .page-container {
        margin: 0 auto;
        height: calc(100% - 20px); min-height: calc(100% - 20px);
        background: url('../images/desktop-lower-bg.svg') no-repeat center bottom fixed;
        background-size: contain;
        padding-top: 20px;
    }
    .phone-bg {
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
    }
    .full-screen {
        width: 318px;
        position: absolute;
        left: 50%;
        margin-left: -181px;
        background-image: url(../images/phone-mock.svg);
        height: 557px;
        min-height: auto;
        background-color: transparent;
        background-size: cover;
        padding: 90px 22px 88px 22px;
    }
    .full-screen.steps .swipe-area {
        padding: 0 40px;
        width: calc(100% - 80px);
    }
    .splash-screen .logo-wrapper {
        width: 60px; height: 60px;
    }
    .login-screen div.logo {
        margin: 16px 0 0 0;
    }
    .login-screen .logo img {
        width: 60px; height: 60px;
    }
    .login-screen .header {
        margin: 10px 0;
    }

    .who-did-dis .top-heart { height: 74px; }
    .who-did-dis .logo-white { top: 100px !important; height: 30px !important; margin-left: -10px !important; }
    .who-did-dis .bottom-heart { height: 48px; }
    .who-did-dis .back.link { margin-top: 1em; }
    .who-did-dis .text {
        margin: 0 1em;
        overflow-y: scroll;
    }

    .upload-image .text {
        margin-top: 44px;
    }
    .upload-image .sub-text {
        padding: 0 20px;
    }
    .upload-image .bottom {
        margin-bottom: 48px;
    }
}

.info-overlay {
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #000;
  opacity: 0.4;
  z-index: 99;
}

.glow::before {
  content: 'click the i to view the tree\'s bio';
  position: absolute;
  width: 200px;
  top: -110px;
  left: -176px;
  color: #fff;
  font-weight: bold;
  font-size: 34px;
  line-height: 1;
  letter-spacing: 1.2px;
}
.glow.hide::before {
  width: 0; height: 0;
  display: none;
  content: '';
}
.glow.hide {
  box-shadow: none !important;
}

.glow-backdrop {
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 98;
}

/* PuffOut effect (or 'glow') */
.puffOut {
  animation: puffOut 1s infinite;
  border-radius: 50%;
}

@-webkit-keyframes puffOut {
  0% {
    box-shadow: 0 0 2px 1px green;
  }
  50% {
    box-shadow: 0 0 20px 10px green;
    -webkit-filter: brightness(1.5);
  }
  100% {
    box-shadow: 0 0 2px 1px green;
  }
}

@keyframes puffOut {
  0% {
    box-shadow: 0 0 2px 1px green;
  }
  50% {
    box-shadow: 0 0 20px 10px green;
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
  }
  100% {
    box-shadow: 0 0 2px 1px green;
  }
}


/* For extra small screens - Especially if the height is small */
@media only screen and (max-height: 600px) {

    .splash-screen  .logo-wrapper { margin-bottom: 20px; }
    .full-screen.steps .bottom { margin-bottom: 40px; }
    .full-screen.steps .swipe-area { padding: 0 40px; width: calc(100% - 80px); }
    .match-with .bottom .button { margin-bottom: 40px; }

}
