.trees.full-screen {
    justify-content: flex-start;
}
.trees .header, .chat .header {
    position: absolute;
    z-index: 100;
    top: 0; left: 0; right: 0;
    height: 56px; width: 100%;
    line-height: 56px;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
}
.trees .header .logo, .chat .header .logo {
    height: 32px;
    vertical-align: middle;
}
.trees .header .share-icon, .chat .header .share-icon { float: left; margin: 14px 0 0 20px; }
.trees .header .chat-icon, .chat .header .chat-icon { float: right; margin: 11px 20px 0 0; }
.trees .header .chat-icon.selected .chat-svg, .chat .header .chat-icon.selected .chat-svg { fill: #0D8037; }

.chat .empty-icon { margin: 0 110px; }
.chat .empty-message {
    height: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.chat .empty-message .main-text {
    font-size: 1.29rem;
}

#tree-cards {
    margin-top: 56px;
}

.trees { position: relative; }
.trees ul {
    margin: 20px 20px 40px 20px;
    position: relative;
    display: block;
    height: 460px;
}
.trees li {
    display: block;
    height: 440px; width: 100%;
    overflow: hidden;
    position: absolute;
    top: 20px;
    z-index: 2;
    left: 0;
    overflow: hidden;
    text-align: center;
    padding: 0;
    /*background: #fff;*/
    font-size: 1.71rem;
    color: #000;
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /*border: solid 4px rgb(232,232,232);*/
    /*border-radius: 20px;*/
}
.trees .card-wrapper {
    position: relative;
    display: inline-block;
    width: 100%; height: 100%;
    scroll-behavior: smooth;
}
.card-wrapper .like {
    display: inline-block;
    float: left;
    background-image: url(../images/like.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px; height: 98px;
    margin: 20px;
}
.card-wrapper .dislike {
    opacity: 0;
    position: absolute;
    right: 0px;
    width: 200px; height: 140px;
    display: inline-block;
    float: right;
    background-image: url(../images/hellno.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px;
}
.trees .tree-details {
    margin: 20px;
    position: absolute;
    bottom: 0;
    width: calc(100% - 40px);
    color: #fff;
}
.trees .card-wrapper .name {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: 800;
    font-size: 2.2rem;
}
.trees .card-wrapper .age {
    font-weight: 400;
    color: inherit;
}
.trees .card-wrapper .info-button {
    position: relative;
    float: right;
}
.trees .card-wrapper .info-button .close {
    position: absolute;
    opacity: 0;
    top: -40px; right: 10px;
    transition: opacity 300ms;
}
.trees .card-wrapper .info-button .close.active {
    opacity: 1;
}
.trees .card-wrapper .description {
    opacity: 0;
    position: absolute;
    text-align: left;
    font-size: 1.14rem;
    margin-top: 20px;
    color: #444;
    transition: opacity 400ms;
}
.trees .card-actions {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%;
}
.trees .card-actions.bordered {
    border-top: solid 1px #ddd;
    transition: border 400ms;
}
.trees .card-actions .like, .trees .card-actions .dislike {
    cursor: pointer;
    width: 72px; height: 72px;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    margin-top: 10px;
}
.trees .card-actions .like {
    display: inline-block;
    margin-left: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='150pt' height='150pt' viewBox='0 0 150 150' version='1.1'%3E%3Cg id='surface1'%3E%3Cpath style=' stroke:none;fill-rule:nonzero;fill:rgb(128, 220, 160);fill-opacity:1;' d='M 75.726562 140.0625 C 74.320312 140.0625 73.132812 139.574219 72.160156 138.601562 L 21.566406 89.792969 C 21.023438 89.359375 20.28125 88.65625 19.335938 87.683594 C 18.390625 86.710938 16.890625 84.941406 14.835938 82.371094 C 12.78125 79.804688 10.941406 77.167969 9.320312 74.464844 C 7.699219 71.765625 6.253906 68.492188 4.984375 64.65625 C 3.714844 60.816406 3.078125 57.089844 3.078125 53.464844 C 3.078125 41.574219 6.511719 32.277344 13.375 25.574219 C 20.242188 18.871094 29.726562 15.519531 41.835938 15.519531 C 45.1875 15.519531 48.605469 16.101562 52.09375 17.265625 C 55.578125 18.425781 58.820312 19.992188 61.820312 21.964844 C 64.820312 23.941406 67.402344 25.792969 69.566406 27.519531 C 71.726562 29.25 73.78125 31.089844 75.726562 33.035156 C 77.671875 31.089844 79.726562 29.25 81.890625 27.519531 C 84.050781 25.792969 86.632812 23.941406 89.632812 21.964844 C 92.632812 19.992188 95.875 18.425781 99.363281 17.265625 C 102.847656 16.101562 106.265625 15.519531 109.617188 15.519531 C 121.726562 15.519531 131.214844 18.871094 138.078125 25.574219 C 144.941406 32.277344 148.375 41.574219 148.375 53.464844 C 148.375 65.414062 142.1875 77.574219 129.808594 89.953125 L 79.292969 138.601562 C 78.320312 139.574219 77.132812 140.0625 75.726562 140.0625 '/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position: center;
    /* rgb(128, 220, 160) */
}
.trees .card-actions .dislike {
    display: inline-block;
    margin-right: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='150pt' height='150pt' viewBox='0 0 150 150' version='1.1'%3E%3Cg id='surface1'%3E%3Cpath style=' stroke:none;fill-rule:nonzero;fill:rgb(237, 105, 72);fill-opacity:1;' d='M 150 21.875 L 128.125 0 L 75 53.125 L 21.875 0 L 0 21.875 L 53.125 75 L 0 128.125 L 21.875 150 L 75 96.875 L 128.125 150 L 150 128.125 L 96.875 75 Z M 150 21.875 '/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
    /* rgb(237, 105, 72) */
}

.trees .img {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    display: inline-block;
    border-radius: 20px;
    width: 100%; height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.trees .male.tree_1 .img { background-image: url("../images/trees/oren1.jpg"); }
.trees .male.tree_2 .img { background-image: url("../images/trees/alon1.jpg"); }
.trees .male.tree_3 .img { background-image: url("../images/trees/ilan1.jpg"); }
.trees .male.tree_4 .img { background-image: url("../images/trees/erez1.jpg"); }
.trees .male.tree_5 .img { background-image: url("../images/trees/eshel1.jpg"); }
.trees .male.tree_6 .img { background-image: url("../images/trees/dolev1.jpg"); }
.trees .male.tree_7 .img { background-image: url("../images/trees/shaked1.jpg"); }
.trees .male.tree_8 .img { background-image: url("../images/trees/dekel1.jpg"); }
.trees .male.tree_9 .img { background-image: url("../images/trees/ashor1.jpg"); }
.trees .male.tree_10 .img { background-image: url("../images/trees/hadar1.jpg"); }
.trees .male.tree_11 .img { background-image: url("../images/trees/bonsai.jpg"); }

.trees .female.tree_1 .img { background-image: url("../images/trees/hadas1.jpg"); }
.trees .female.tree_2 .img { background-image: url("../images/trees/arava1.jpg"); }
.trees .female.tree_3 .img { background-image: url("../images/trees/klilhachoresh01.jpg"); }
.trees .female.tree_4 .img { background-image: url("../images/trees/moran1.jpg"); }
.trees .female.tree_5 .img { background-image: url("../images/trees/shaked1.jpg"); }
.trees .female.tree_6 .img { background-image: url("../images/trees/shikma1.jpg"); }
.trees .female.tree_7 .img { background-image: url("../images/trees/shaked1.jpg"); }
.trees .female.tree_8 .img { background-image: url("../images/trees/tooti1.jpg"); }
.trees .female.tree_9 .img { background-image: url("../images/trees/tamar1.jpg"); }
.trees .female.tree_10 .img { background-image: url("../images/trees/dekel1.jpg"); }
.trees .female.tree_11 .img { background-image: url("../images/trees/hadar1.jpg"); }

.trees .trees-wrapper {
    height: 100%; min-height: 100%;
}
.trees .empty-message .main-text {
    font-size: 1.29rem;
    margin-top: 120px;
}

.trees .empty-message {
    height: 100%; min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: opacity 400ms;
}
.trees .empty-message .forest-trees {
    width: 160px;
}
.trees .empty-message .buttons-wrapper {
    /*margin-bottom: 80px;*/
}
.trees .empty-message .buttons-wrapper .button.start-over {
    margin-bottom: 20px;
}

.trees .location-wrapper {
    margin-bottom: 6px;
    color: #aeaeae;
}
.trees .instagram-wrapper {
    margin-bottom: 12px;
    color: #aeaeae;
}
.trees .location-wrapper .location-icon {
    vertical-align: middle;
    margin-right: 6px;
    margin-left: 2px;
}
.trees .instagram-wrapper .instagram-icon {
    width: 16px;
    vertical-align: middle;
    padding-bottom: 2px;
    margin-right: 4px;
}


@media only screen and (min-width: 768px) {
    .trees ul {
        width: auto;
        margin: 10px;
        height: 360px;
    }
    .trees .img {
        height: 260px;
    }
    .tree-cards {
        margin-bottom: -100px;
    }
    .trees-wrapper {
        width: 100%; height: 100%;
        overflow: hidden;
    }
}